body {
    font-size: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    background-image: url('parliament.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#container {
    height: 100%;
    width: 100%;
}
.formTitle {
    font-size: 2.5rem;
    width: 80%;
    margin: 10% auto 0 auto;
    color: rgb(0,0,77);
    padding: 10px 15px;
    background-color: rgba(215,215,215,0.6);
    border-radius: 15px;
}
#conForm {
    margin: 5% auto;
    width: 60%;
}
#postcodeLookup {
    font-family: inherit;
    display: block;
    width: 100%;
    font-size: 2.5rem;
    padding: 15px;
    margin: 10% auto;
    text-align: center;
    border: solid rgb(0,0,77) 5px;
    border-radius: 15px;
    background-color: rgba(215,215,215, 0.8);
    color: rgb(0,0,77);
    text-transform: uppercase;
}
#postcodeLookup:focus {
    background-color: rgba(0,0,77, 0.8);
    color: rgb(215,215,215);
    border: solid 5px rgb(215,215,215);
}
#submit {
    font-family: inherit;
    display: block;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 10px 15px;
    width: 20%;
    background-color: rgb(0,0,77);
    border: solid 2px rgb(215,215,215);
    border-radius: 15px;
    color: rgb(215,215,215);
    box-shadow: 2px 2px 4px rgb(215,215,215);
}
#submit:hover {
    cursor: pointer;
    background-color: rgb(215,215,215);
    color: rgb(0,0,77);
    border: solid 2px rgb(0,0,77);
}
#submit:active {
    transform: translate(4px, 2px);
}
